/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, h1,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    margin: 0;
    padding: 0;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

div.postarea{
    word-break: break-word;
}

textarea {
    line-height: 1.2;
    font-size: 11px;
}

/* scrollbar */

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #1A1A1B; 
}

/* change colours to suit your needs */
mark {
    background-color:#F2eecb;
    color:#1A1A1B; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #F2eecb;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* my code */

body {
    background-color: black;
}

/*section*/

section.mars {
    width: 100%;
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.mars {
    min-height: 100vh;
    overflow: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: inherit;
}

div.greet{
    flex: 0 0 auto;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 64px;
    padding-right: 64px;

    @media only screen and (max-width: 1050px) {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    }
}

div.martian {
    flex: 1 0 auto;
}

div.marsphoto {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 64px;

    @media only screen and (max-width: 1050px) {
        padding-top: 16px;
    }
}
img.mars {
    z-index: -1;
    height: 175vh;
}

/* nav */

nav.menu {
    background-color: #f9eae2;
    padding: 16px;
    @media only screen and (max-width: 1050px) {
        padding: 0px;
    }
    
}

ul.inline {
    text-align: center;
    @media only screen and (max-width: 1050px) {
        text-align: left;
    }
}

li.inline {
    display: inline;
    padding-left: 16px;
    @media only screen and (max-width: 1050px) {
        display:list-item;
        padding-top: 8px;
        padding-bottom: 8px;
    }
}

section.main {
    background-color: white;
    padding: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 64px;

    @media only screen and (max-width: 1050px) {
        padding: 16px;
        row-gap: 16px;
    }
}

section.main div.subarticle {
    width: 100%;

    @media only screen and (max-width: 1050px) {
        width: auto;
    }    
}

img.resize {
    width: 100%;
}

video.resize {
    width: 100%;
}

div.split{
    display: flex;
    flex-direction: column;
    width: 100%;
}

div.article {
    display: flex;
    flex-direction: row;
    background-color: #f9eae2;
    border-radius: 16px;
    overflow: hidden;
    max-width: 100%;

    @media only screen and (max-width: 1050px) {
        flex-direction: column;
    }
}

div.subarticle {
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* header*/

header.main {
    
    padding: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 64px;

    @media only screen and (max-width: 1050px) {
        padding: 16px;
        row-gap: 16px;
    }
}

img.header {
    height: 60px;
    @media only screen and (max-width: 1050px) {
        display: none;
    }
}

/* footer */

footer.footer {
    display: flex;
    flex-direction: column;
    padding: 64px;
    row-gap: 64px;

    @media only screen and (max-width: 1050px) {
        display: flex;
        flex-direction: column;
        padding: 32px;
        row-gap: 32px;
    }
}

/* text */

@font-face {
    font-family: Oppen;
    src: url(../text/CooperHewitt-Medium.otf);
}
@font-face {
    font-family: MetM;
    src: url(../text/Metropolis-Medium.otf);
}
@font-face {
    font-family: MetR;
    src: url(../text/Metropolis-Regular.otf);
}
@font-face {
    font-family: Nasa;
    src: url(../text/nasalization-rg.otf);
}

h1.greet {
    font-size: 40px;
    font-family: MetR, Arial, Helvetica, sans-serif;
    color: #E3E3E3;
    
    text-decoration: none;

    @media only screen and (max-width: 1050px) {
        font-size: 30px;
    }
}

p.greet {
    font-size: 20px;
    font-family: MetM, Arial, Helvetica, sans-serif;
    color: #E3E3E3;
    
    text-decoration: none;

    @media only screen and (max-width: 1050px) {
        font-size: 15px;
    }
}

p.inf {
    font-size: 20px;
    font-family: MetM, Arial, Helvetica, sans-serif;
    color: #E3E3E3;
    
    text-decoration: none;

    @media only screen and (max-width: 1050px) {
        font-size: 15px;
    }
}

ul.inline a {
    font-size: 20px;
    font-family: Oppen ,Arial, Helvetica, sans-serif;
    color: #96705c;
    text-transform: uppercase;
    text-decoration:none;

    @media only screen and (max-width: 1050px) {
        font-size: 15px;
    }
}

/* text article*/

p.article {
    font-size: 20px;
    font-family: MetM, Arial, Helvetica, sans-serif;
    color: #3a3a3a;
    
    text-decoration: none;

    @media only screen and (max-width: 1050px) {
        font-size: 15px;
    }
}

p.title {
    font-size: 40px;
    font-family: MetR, Arial, Helvetica, sans-serif;
    color: #3a3a3a;
    
    text-decoration: none;

    @media only screen and (max-width: 1050px) {
        font-size: 30px;
    }
}

button.article {
    font-size: 20px;
    font-family: MetM, Arial, Helvetica, sans-serif;
    color: #f9eae2;
    background-color: #3a3a3a;
    padding: 16px;
    border-radius: 16px;
    width: fit-content;
    
    text-decoration: none;

    @media only screen and (max-width: 1050px) {
        font-size: 15px;
        padding: 8px;
        border-radius: 8px;
    }
}

button:hover {
    cursor: crosshair;
}

/*overlay*/

.overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */ 
    width: -webkit-fill-available;
    transition: .25s ease;
    opacity:0;
    padding: 16px;
    text-align: center;
    overflow: hidden;
}
  
.container:hover .overlay {
    opacity: -1;
}

.container .overlay {
    opacity: 1;
}

.container {
    position: relative;
    overflow: hidden;
}
